{% extends '_layouts/cp' %}
{% set title = title %}
{% set fullPageForm = true %}

{% do view.registerAssetBundle('aatanasov\\storelocator\\assetbundles\\GoogleMapsAsset') %}
{% do view.registerAssetBundle('aatanasov\\storelocator\\assetbundles\\StoresAdminAsset') %}

{% import '_includes/forms' as forms %}
	
{% block actionButton %}
    {% if fullPageForm %}
	    <div class="btngroup">
	        <input type="submit" class="btn submit" value="{{ 'Save'|t('store-locator') }}">
            {% if entry.id %}
		        <div class="btn submit menubtn"></div>
		        <div class="menu">
		                <ul>
		                    <li>
		                        <a class="formsubmit error" data-action="store-locator/stores/delete" data-confirm="{{ 'Are you sure you want to delete this store?'|t('store-locator') }}" data-redirect="{{ 'store-locator' | hash }}">
		                            {{ 'Delete'|t('store-locator') }}
		                        </a>
		                    </li>
		                </ul>
		        </div>
		    {% endif %}
	    </div>
    {% endif %}
{% endblock %}

{% block content %}
 	{{ csrfInput() }}
    {{ actionInput(action) }}
    {{ redirectInput(redirect) }}

	{{ forms.textField({
	    label: "Title"|t('store-locator'),
	    instructions: "Enter the name of this store."|t('store-locator'),
	    name: 'title',
	    value: entry.title,
	    errors: entry.getErrors('title')
	}) }}  		 

	{{ forms.textField({
	    label: "Address"|t('store-locator'),
	    instructions: "Enter the address of this store."|t('store-locator'),
	    name: 'address',
	    value: entry.address,
	    errors: entry.getErrors('address')
	}) }}  	 

	{{ hiddenInput('entryId', entry.id) }}
	
{% endblock %}